@CHARSET "UTF-8";

.dashboardItem {
	border: 0px rgb(230,230,230) solid;
	float: left;
	width: 300px;
	height: 200px;
	background-color: rgb(250,250,250);
	padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
	text-align: center;
	
	-webkit-box-shadow: 0px 5px 15px -7px black;
   	-moz-box-shadow: 0px 5px 15px -7px black;
    box-shadow: 0px 5px 15px -7px black;
}

.ocDashboard.inAction {
	position: absolute;
	margin-left: 5px;
	margin-top: 190px;
	background-image: url('%appswebroot%/ocDashboard/img/ajax-loader.gif'); 
	background-repeat: no-repeat; 
	background-position: 0px 0px; 
	background-size: 16px 11px;
	width: 16px;
	height: 11px;
	display: none;
}

.ocDashboard.weather.box {
	height: 180px;
	width: 86px;
	height: 82px;
	float: left;
	vertical-align: middle;
	padding: 7px;
	padding-top: 5px;
}

.ocDashboard.weather.box .today, 
.ocDashboard.weather.box .city, 
.ocDashboard.weather.box .tomorrow {
	font-weight: bold;
}

.ocDashboard.weather.box .city {
	font-size: 16px;
}

.ocDashboard.weather.box2 {
	padding-left: 50px;
	float: left;
}

.ocDashboard.head {
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 5px;
	text-align: left;
}

.ocDashboard.head:hover span {
	visibility: visible;
}
	
.ocDashboard.head span {
	color: gray;
	visibility: hidden;
	font-weight: normal;
}

.ocDashboard.head span:hover {
	color: black;
	cursor: pointer;
}
	
.ocDashboard.tasks.items, .ocDashboard.mailCheck.items, .ocDashboard.newsreader.items, .ocDashboard.calendar.items{	
	text-align: left;
	overflow: auto;
	height: 184px;
}

.ocDashboard.tasks.items {
	line-height: 1.2;
}

.ocDashboard.tasks.item {
	float: left;
	width: 100%;
	padding-top: 5px;
}

.ocDashboard.tasks.items span, .ocDashboard.mailCheck.items span, .ocDashboard.newsreader.items span {	
	color: gray;
	font-style: italic;
}

.ocDashboard.weather.imgToday {
	position: relative;
left: 70px;
top: -25px;
}

.ocDashboard.weather.imgTomorrow {
	position: relative;
	left: -70px;
	top: -25px;
}

.ocDashboard.newsreader.items h2 {
	font-weight: bold;
}

.ocDashboard.calendar.items h2 {
	padding-top: 15px;
	font-weight: bold;
	border-bottom: 1px solid rgb(200,200,200);
	width: 275px;
}

.ocDashboard.newsreader.items .newsItem img {
	padding: 5px;
}

.ocDashboard.newsreader.date, .ocDashboard.calendar.date {
	font-style: italic;
	color: gray;
}

.ocDashboard.newsreader.counter {
	color: gray;
	position: absolute;
	margin-top: -24px;
	margin-left: 210px;
}

.ocDashboard.newsreader.counter a {
	color: gray;
}

.ocDashboard.newsreader.counter a:hover {
	color: black;
}

.ocDashboard.calendar.date {
	font-size: 0.85em;
}

.calendarItem {
	top: 5px;
	position: relative;
}

.calendarItem.birthday {
	top: 5px;
	padding-left: 20px;
	position: relative;
	background-image: url('%appswebroot%/ocDashboard/img/birthday.png'); 
	background-repeat: no-repeat; 
	background-position: 0px 2px; background-size: 15px 15px;";
}

.calendarItem.location, .calendarItem span {
	font-style: italic;
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}